/* primary  */
$primary: #f6804d;
$primary-200: #224d77;
$primary-100: #9e6d59;

/* secondary */
$secondary: #f6f2eb;
$secondary-600: #4a3b35;
$secondary-500: #ffd4ca;
$secondary-400: #f3633f;
$secondary-300: #cad9ee;
$secondary-200: #2a67b9;
$secondary-100: #e84c2a;

/* gray scale  */
$grey-500: #383325;
$grey-400: #828282;
$grey-300: #b5b5b5;
$grey-200: #d9d9d9;
$grey-100: #ebebeb;

/* other */
$fail: #e62e00;
$success: #17ad00;
$warning: #ffd639;
$inform: #188ae6;
