.LoadingPage {
  position: relative;
  width: 375px;
  height: 812px;
}

.pageContent {
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 416px;
}

.animationContainer {
  position: absolute;
  bottom: 0;
}

.textContainer {
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.48px;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  text-align: center;
  color: rgba(250, 250, 250, 0.75);
}
