@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

* {
  font-family: Pretendard, sans-serif;
}

.iphoneFrame {
  position: relative;
  width: 100%;
  max-width: 375px;
  height: 812px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.pageContent {
  position: relative;
  overflow-y: auto;
}

.pageContent.loading {
  overflow: hidden;
}
